        <section class="pageContent">
            <div class="container">
                <div class="pageContent__inner">
                    <div class="pageContent__menu">
                        <h1 class="pageContent__title">Payment and delivery</h1>
                        <p class="pageContent__descr">Our payment and delivery policies</p>
                        <a class="pageContent__btn btn-2" href="index.html">на головну</a>
                    </div>
                    <div class="pageContent__content">
                        <p>UK DELIVERIES</p>
                        <p>All UK orders will be shipped with a UPS Next Day Delivery service.</p>
                        <p>UPS Next Day Delivery - £4</p>
                        <p>UPS Next Day Delivery free on orders over £250</p>
                        <p>Orders placed Monday to Thursday before 12pm will be dispatched the same day.</p>
                        <p>Orders placed on Fridays will not be processed until Monday, as we operate a 4 day working week at the Lavenham factory.</p>
                        <p>In the interest of our factory team's wellbeing as well as conserving energy, the Lavenham factory have moved to a four day working week. This means that orders placed after 12pm on a Thursday will not be dispatched until Monday.</p>
                        <p>INTERNATIONAL DELIVERIES</p>
                        <p>The exact shipping methods available for your country will be presented at checkout. Duties and taxes will be automatically calculated and displayed at checkout.</p>
                        <p>*Please contact <a href="mailto:customerservice@lavenhamjackets.com">customerservice@lavenhamjackets.com</a> if you require any further information.</p>
                        <p>You can return items within 28 days of receipt for a refund of that item or exchange it to a different size or colour of the same item, depending on stock. Please ensure the original labels are attached to the garment.</p>
                        <p>UK RETURNS AND EXCHANGES</p>
                        <p>You can return items within 28 days of receipt for a refund of that item or exchange it to a different size or colour of the same item, depending on stock.</p>
                        <p>If you would like to exchange, please email or ring and we will put your required size/colour to one side for you.</p>
                        <p>Please ensure the original labels are attached to the garment.</p>
                        <p>Please send the order to the below address with a returns form stating your order number.</p>
                        <p>Lavenham Returns 24-25 Churchfield Road Sudbury Suffolk CO10 2YA</p>
                        <p>INTERNATIONAL RETURNS AND EXCHANGES</p>
                        <p>You can return items within 28 days of receipt for a refund of that item or exchange it to a different size or colour of the same item, depending on stock. Please ensure the original labels are attached to the garment.</p>
                        <p>If you would like to return or exchange please contact our customer service team [customerservice@lavenhamjackets.com] and we can send you a pre-paid returns label, the cost of which will be deducted from your refund.</p>
                        <p>Pre-paid returns are subject to a return shipping fee which will be deducted from your refund.</p>
                        <p>Alternatively you can send the order back to us using the shipper of your choice at your expense.</p>
                        <p>Please note that duties, taxes and shipping cost are non-refundable.</p>
                        <ul>
                            <li>Oversized fit</li>
                            <li>Light yet warm wadding</li>
                            <li>Ribbed collar, cuffs and waistband</li>
                            <li>2 x Large map pockets</li>
                            <li>1 x internal chest pocket</li>
                            <li>Zip fastening</li>
                            <li>Elasticated cuffs</li>
                            <li>Made in Suffolk, England</li>
                        </ul>
                        <a class="pageContent__btn pageContent__btn-mobile btn-2" href="index.html">на головну</a>
                    </div>
                </div>
            </div>
        </section>