        <section class="pageContent pageContent-product">
            <div class="container">
                <div class="pageContent__inner">
                    <div class="pageContent__image pageContent__image-top">
                            <img src="img/product/1.png" alt="">
                        </div>
                    <form class="pageContent__product" action="#">
                        <h1 class="pageContent__product-title title-3">KodKod Nyco Khaki</h1>
                        <p class="pageContent__product-descr">A quilted jacket in cotton twill.... <a href="#about">read more</a></p>
                        <p class="pageContent__product-price">7 325 UAH</p>
                        <div class="pageContent__product-color">
                            <label>
                                <input type="radio" name="color">
                                <span data-bag-color="#FFF"></span>
                            </label>
                            <label>
                                <input type="radio" name="color">
                                <span data-bag-color="#1A1A1A"></span>
                            </label>
                            <label>
                                <input type="radio" name="color">
                                <span data-bag-color="#67677A"></span>
                            </label>
                            <label>
                                <input type="radio" name="color">
                                <span data-bag-color="#9C894B"></span>
                            </label>
                        </div>
                        <div class="pageContent__product-sizes">
                            <div class="pageContent__product-select">
                                <label class="pageContent__product-size">
                                    <input type="radio" name="size" value="S" checked data-sold="no">
                                    <span>S</span>
                                </label>
                                <label class="pageContent__product-size">
                                    <input type="radio" name="size" value="M" data-sold="no">
                                    <span>M</span>
                                </label>
                                <label class="pageContent__product-size">
                                    <input type="radio" name="size" value="L" data-sold="no">
                                    <span>L</span>
                                </label>
                                <label class="pageContent__product-size">
                                    <input type="radio" name="size" value="XL" data-sold="yes">
                                    <span>XL</span>
                                </label>
                            </div>                            
                            <div class="pageContent__product-buttons">
                                <button class="pageContent__product-item btn">Add to bag</button>
                                <button class="pageContent__product-item btn-2">Buy now</button>
                                <p class="pageContent__product-item sold-out">Sold out</p>
                            </div>
                        </div>
                        <a class="pageContent__product-about" href="about.html">About frontier</a>
                    </form>
                    <div class="pageContent__product-content">
                        <div class="pageContent__image pageContent__image-main">
                            <img src="{{'assets/images/product/1.png' | theme }}" alt="">
                        </div>
                        <div class="pageContent__accordion">
                            <span id="about"></span>
                            <div class="pageContent__accordion-item active">
                                <div class="pageContent__accordion-top">
                                    <h3>Description</h3>
                                </div>
                                <div class="pageContent__accordion-content">
                                    <p>A collaboration with London brand YMC who have been referencing military and workwear with a focus on fabric and fits since 1995.</p>
                                    <p>With an oversized fit this jacket features a ribbed collar, cuffs and waistband and two large front pockets. Quilted in a military pattern with a lightweight yet warm wadding, it is finished with a zip fastening.</p>
                                    <p>Outer: 100% Recycled polyester <br>Wadding: Partially recycled polyester wadding</p>
                                    <ul>
                                        <li>Oversized fit</li>
                                        <li>Light yet warm wadding</li>
                                        <li>Ribbed collar, cuffs and waistband</li>
                                        <li>2 x Large map pockets</li>
                                        <li>1 x internal chest pocket</li>
                                        <li>Zip fastening</li>
                                        <li>Elasticated cuffs</li>
                                        <li>Made in Suffolk, England</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="pageContent__accordion-item">
                                <div class="pageContent__accordion-top">
                                    <h3>Sizes</h3>
                                </div>
                                <div class="pageContent__accordion-content">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td>XS</td>
                                                <td>S</td>
                                                <td>M</td>
                                                <td>L</td>
                                                <td>XL</td>
                                                <td>XXL</td>
                                            </tr>
                                            <tr>
                                                <td>Chest</td>
                                                <td>66.75cm</td>
                                                <td>68cm</td>
                                                <td>70.5cm</td>
                                                <td>73cm</td>
                                                <td>75.5cm</td>
                                                <td>78cm</td>
                                            </tr>
                                            <tr>
                                                <td>Back length</td>
                                                <td>55cm</td>
                                                <td>56cm</td>
                                                <td>57cm</td>
                                                <td>58cm</td>
                                                <td>59cm</td>
                                                <td>60cm</td>
                                            </tr>
                                            <tr>
                                                <td>Sleeve Length</td>
                                                <td>58cm</td>
                                                <td>58cm</td>
                                                <td>58cm</td>
                                                <td>58cm</td>
                                                <td>58cm</td>
                                                <td>58cm</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="pageContent__accordion-item">
                                <div class="pageContent__accordion-top">
                                    <h3>Delivery</h3>
                                </div>
                                <div class="pageContent__accordion-content">
                                    <p>UK Deliveries</p>
                                    <p>All UK deliveries are shipped with UPS next day delivery. This costs £5.00 or is free for orders over £250. The cut off for next day delivery is 1pm. We operate a 4 day working week so orders placed after 1pm on Thursday will not be processed until Monday.</p>
                                    <p>International Deliveries</p>
                                    <p>The exact shipping methods available for your country will be presented at checkout. Duties and taxes will be automatically calculated and displayed at checkout.</p>
                                    <p>Returns</p>
                                    <p>You can return items within 30 days of receipt for a refund or exchange.</p>
                                    <p>For more information, read our full <a href="#">delivery and returns information.</a></p>
                                </div>
                            </div>
                            
                        </div>
                        <div class="pageContent__image">
                            <img src="{{'assets/images/product/2.png' | theme }}" alt="">
                        </div>
                        <div class="pageContent__image">
                            <img src="{{'assets/images/product/3.png' | theme }}" alt="">
                        </div>
                        <div class="pageContent__image">
                            <img src="{{'assets/images/product/4.png' | theme }}" alt="">
                        </div>
                        <h3>You might also like</h3>
                        <div class="product__item">
                            <div class="product__item-top">
                                <button class="product__item-add"></button>
                                <a class="product__item-image" href="#">
                                    <img src="{{'assets/images/products/3.png' | theme }}" alt="">
                                    <img src="{{'assets/images/products/2.png' | theme }}" alt="">
                                    <div class="product__item-colors">
                                        <span data-bag-color="#FFF"></span>
                                        <span data-bag-color="#1A1A1A"></span>
                                        <span data-bag-color="#67677A"></span>
                                        <span data-bag-color="#9C894B"></span>
                                    </div>
                                </a>
                            </div>                            
                            <a href="#"><h3>KodKod Nyco</h3></a>
                            <p>Тактичні штани Frontier</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>