<section class="hero">
    <div class="container">
        <div class="hero__inner">
            <div class="hero__image">
                <img src="{{ 'assets/images/hero.png' | theme }}" alt="">
                <img src="{{ 'assets/images/hero-mobile.png' | theme }}" alt="">
            </div>
            <div class="hero__content">
                <h1 class="hero__title">Frontier Borealis </h1>
                <p class="hero__descr">Тепло без зайвих об’ємів. <br>Куртка з утеплювачем 3M Thinsulate™.  </p>
            </div>
            <a class="hero__btn btn" href="#">featured</a>
        </div>
    </div>
</section>