{% set headerClass = style == 'transparent'
    ? 'header header-transparent header-main'
    : 'header header'
 %}

<header class="{{ headerClass }}">
    <div class="container">
        <div class="header__inner">
            <nav class="header__menu">
                <ul>
                    <li>
                        <a class="header__link header__link-open" href="#">Магазин</a>
                    </li>
                    <li>
                        <a class="header__link" href="#">Журнал</a>
                    </li>
                    <li>
                        <a class="header__link" href="#">Customer care</a>
                    </li>
                </ul>
            </nav>

            <div class="header__top">   
                <button class="header__busket-open">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                            <path d="M5.42857 7.72222V3.83333C5.42857 2.54467 6.5798 1.5 8 1.5C9.4202 1.5 10.5714 2.54467 10.5714 3.83333V7.72222M2 4.61111H14V15.5H2V4.61111Z" stroke="#1A1A1A" stroke-width="1.5"/>
                        </svg>
                    </button>
                <a class="header__logo" href="index.html">
                    <svg xmlns="http://www.w3.org/2000/svg" width="119" height="11" viewBox="0 0 119 11" fill="none">
                        <path d="M102.611 3.03614H91.5126V4.11132H99.6296V6.85552H91.4952V7.86519H102.604V10.9455H87.4701V0.105383H102.61V3.03756L102.611 3.03614Z" fill="#1A1A1A"/>
                        <path d="M107.674 10.9127C106.514 10.9156 104.967 10.9127 103.739 10.9127V0.0398738C104.005 0.0398738 104.262 0.0398738 104.521 0.0398738C108.322 0.0398738 112.122 0.0398738 115.923 0.044146C117.848 0.0455701 118.969 1.1535 118.98 3.05892C118.982 3.36795 118.963 3.67697 118.983 3.98457C119.053 5.02558 118.95 5.9911 117.787 6.55504C119.419 7.75127 118.825 9.38896 118.959 10.9312H114.919C114.919 10.3374 114.912 9.7521 114.92 9.1668C114.929 8.61426 114.668 8.3152 114.099 8.31378C111.995 8.30951 109.893 8.31236 107.674 8.31236V10.9127ZM107.656 3.21272C107.656 3.77666 107.656 4.60084 107.656 5.1039C109.684 5.12811 112.157 5.12384 114.184 5.11245C114.807 5.1096 115.072 4.77779 115.083 4.16401C115.095 3.54596 114.838 3.21842 114.21 3.217C112.065 3.20988 109.92 3.21415 107.656 3.21415V3.21272Z" fill="#1A1A1A"/>
                        <path d="M30.7256 6.56073C32.3545 7.7712 31.7326 9.4032 31.8997 10.9369H27.8659C27.8659 10.3573 27.8572 9.77346 27.8688 9.19101C27.8804 8.63847 27.6203 8.3266 27.0565 8.32375C24.9306 8.31378 22.8048 8.31948 20.6048 8.31948V10.9369H16.6568V0.0341787C16.9953 0.0341787 17.3455 0.0341787 17.6972 0.0341787C21.4011 0.0356028 25.1065 0.037025 28.8104 0.0412973C30.7968 0.0441454 31.8938 1.12645 31.904 3.08598C31.9055 3.489 31.875 3.89486 31.9084 4.29645C31.9854 5.25058 31.7311 6.0381 30.7256 6.56216V6.56073ZM20.6077 5.01418C20.6993 5.04979 20.7646 5.09821 20.8315 5.09821C22.9356 5.10533 25.0382 5.11245 27.1422 5.10533C27.7264 5.1039 28.0112 4.80769 28.0025 4.20816C27.9923 3.39501 27.8514 3.22269 26.8923 3.21272C24.9335 3.19279 22.9748 3.20133 21.016 3.20418C20.8809 3.20418 20.7458 3.25829 20.6077 3.2882V5.01418Z" fill="#1A1A1A"/>
                        <path d="M61.2564 6.75014V0.0982626H65.2466V10.9882C63.8182 10.991 61.6506 10.9996 60.2175 10.9996C59.767 11.0081 59.4706 10.8828 59.1756 10.5296C57.4726 8.49321 55.739 6.48241 54.0142 4.46449C53.9387 4.3762 53.8544 4.29502 53.635 4.0629V10.9426H49.6695V0.0441465C50.7535 0.0441465 51.8534 0.0156657 52.9084 0.0156657C54.7209 0.0156688 55.8974 0.467099 56.9407 1.88976C58.2049 3.61574 59.7002 5.17938 61.0951 6.8128L61.255 6.75156L61.2564 6.75014Z" fill="#1A1A1A"/>
                        <path d="M45.053 10.8458C43.3381 10.8473 37.5161 10.8657 35.7503 10.8657C33.9846 10.8657 33.0345 9.56839 32.8761 7.83244C32.7308 6.23747 32.7672 4.6069 32.911 3.00908C33.0476 1.49956 34.1707 0.0412959 35.7503 0.0412959C38.1697 0.0412959 42.5341 0.0412935 45.053 0.0412959C47.5522 0.0412959 48.6 1.63057 48.6102 4.14265C48.6145 5.09108 48.616 6.04095 48.6102 6.98938C48.5927 9.40605 47.5522 10.8458 45.053 10.8458ZM40.7199 7.7712V7.75696C41.5903 7.75696 42.4607 7.76836 43.3311 7.75269C44.017 7.73987 44.4311 7.37389 44.4703 6.70742C44.5154 5.95265 44.527 5.19077 44.4819 4.43601C44.4442 3.80656 44.0824 3.30956 43.4052 3.29532C41.5947 3.25545 39.7827 3.25972 37.9736 3.30244C37.3807 3.31668 36.9971 3.72254 36.9651 4.32778C36.9273 5.05975 36.8939 5.796 36.9375 6.52656C36.9942 7.47357 37.2616 7.71709 38.2526 7.76123C39.0736 7.79826 39.8975 7.76835 40.7199 7.76835V7.7712Z" fill="#1A1A1A"/>
                        <path d="M3.97856 7.43655V10.9355H0V0.0854456H15.5597V3.14437H4.02942V4.44455H12.5896V7.43797H3.97856V7.43655Z" fill="#1A1A1A"/>
                        <path d="M81.3977 0.0712038V3.19848C79.9911 3.19848 77.2636 3.19848 75.8687 3.19848C75.8687 5.02558 75.8687 8.17849 75.8701 10.0056C75.8701 10.3075 75.8701 10.6094 75.8701 10.9498H71.8727V3.22554H66.3684V0.0712038H81.3977Z" fill="#1A1A1A"/>
                        <path d="M82.502 0H86.3803V10.954H82.502V0Z" fill="#1A1A1A"/>
                    </svg>
                </a>
                <button class="header__search-open">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                        <path d="M11.9315 12.486L15 15.5M13.9574 7.86364C13.9574 11.3782 11.0568 14.2273 7.47869 14.2273C3.90061 14.2273 1 11.3782 1 7.86364C1 4.3491 3.90061 1.5 7.47869 1.5C11.0568 1.5 13.9574 4.3491 13.9574 7.86364Z" stroke="#1A1A1A" stroke-width="1.5" stroke-linecap="round"/>
                    </svg>
                </button>
                <button class="header__menu-open">
                    menu
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
                        <rect x="1" y="1.5" width="5" height="5" rx="1" stroke="#1A1A1A" stroke-width="1.5"/>
                        <rect x="1" y="10.5" width="5" height="5" rx="1" stroke="#1A1A1A" stroke-width="1.5"/>
                        <rect x="10" y="1.5" width="5" height="5" rx="1" stroke="#1A1A1A" stroke-width="1.5"/>
                        <rect x="10" y="10.5" width="5" height="5" rx="1" stroke="#1A1A1A" stroke-width="1.5"/>
                    </svg>
                </button>

                <form class="header__search" action="#">
                    <button class="header__search-close" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path d="M1.24138 1L8 7.8772M8 7.8772L15 15M8 7.8772L1 15M8 7.8772L14.7586 1.00001" stroke="#1A1A1A" stroke-width="1.5" stroke-linecap="round"></path>
                        </svg>
                    </button>
                    <div class="header__search-content">
                        <div class="header__search-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                <path d="M11.9315 11.986L15 15M13.9574 7.36364C13.9574 10.8782 11.0568 13.7273 7.47869 13.7273C3.90061 13.7273 1 10.8782 1 7.36364C1 3.8491 3.90061 1 7.47869 1C11.0568 1 13.9574 3.8491 13.9574 7.36364Z" stroke="#1A1A1A" stroke-width="1.5" stroke-linecap="round"></path>
                            </svg>
                        </div>
                        <input type="text" placeholder="search">
                        <button class="header__search-btn" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
                                <path d="M6.25 11.8711L11.25 6.8509M6.25001 1.83071L11.25 6.8509M11.25 6.8509L0.75 6.8509" stroke="#67677A" stroke-width="1.5" stroke-linecap="square"></path>
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="header__more">
            <div class="container">
                <div class="header__more-left">
                    <ul class="header__more-menu">
                        <li>
                            <a class="active" href="#">Новинки</a>
                        </li>
                        <li>
                            <a href="#">Куртки | Сорочки</a>
                        </li>
                        <li>
                            <a href="#"> Фліс | Худі</a>
                        </li>
                        <li>
                            <a href="#">Лонги | Футболки</a>
                        </li>
                        <li>
                            <a href="#">Штани | Шорти</a>
                        </li>
                        <li>
                            <a href="#">Термобілизна</a>
                        </li>
                        <li>
                            <a href="#">Аксесуари</a>
                        </li>
                    </ul>
                    <div class="header__more-links">
                        <a href="#" target="_blank">FB</a>
                        <a href="#" target="_blank">IG</a>
                        <a href="#" target="_blank">YT</a>
                    </div>
                </div>
                <div class="header__more-content">
                    <div class="header__more-slider">
                        <div class="swiper-wrapper">
                            <div class="header__more-slide swiper-slide product__item">
                                <div class="product__item-top">
                                    <button class="product__item-add"></button>
                                    <a class="product__item-image" href="#">
                                        <img src="{{ 'assets/images/products/1.png' | theme }}" alt="">
                                        <img src="{{ 'assets/images/products/2.png' | theme }}" alt="">
                                        <div class="product__item-colors">
                                            <span data-bag-color="#FFF"></span>
                                            <span data-bag-color="#1A1A1A"></span>
                                            <span data-bag-color="#67677A"></span>
                                            <span data-bag-color="#9C894B"></span>
                                        </div>
                                    </a>
                                </div>                            
                                <a href="#"><h3>erica</h3></a>
                                <p>Термобілизна Frontier</p>
                            </div>
                            <div class="header__more-slide swiper-slide product__item">
                                <div class="product__item-top">
                                    <button class="product__item-add"></button>
                                    <a class="product__item-image" href="#">
                                        <img src="{{ 'assets/images/products/1.png' | theme }}" alt="">
                                        <img src="{{ 'assets/images/products/2.png' | theme }}" alt="">
                                        <div class="product__item-colors">
                                            <span data-bag-color="#FFF"></span>
                                            <span data-bag-color="#1A1A1A"></span>
                                            <span data-bag-color="#67677A"></span>
                                            <span data-bag-color="#9C894B"></span>
                                        </div>
                                    </a>
                                </div>                            
                                <a href="#"><h3>erica</h3></a>
                                <p>Термобілизна Frontier</p>
                            </div>
                            <div class="header__more-slide swiper-slide product__item">
                                <div class="product__item-top">
                                    <button class="product__item-add"></button>
                                    <a class="product__item-image" href="#">
                                        <img src="{{ 'assets/images/products/1.png' | theme }}" alt="">
                                        <img src="{{ 'assets/images/products/2.png' | theme }}" alt="">
                                        <div class="product__item-colors">
                                            <span data-bag-color="#FFF"></span>
                                            <span data-bag-color="#1A1A1A"></span>
                                            <span data-bag-color="#67677A"></span>
                                            <span data-bag-color="#9C894B"></span>
                                        </div>
                                    </a>
                                </div>                            
                                <a href="#"><h3>erica</h3></a>
                                <p>Термобілизна Frontier</p>
                            </div>
                            <div class="header__more-slide swiper-slide product__item">
                                <div class="product__item-top">
                                    <button class="product__item-add"></button>
                                    <a class="product__item-image" href="#">
                                        <img src="{{'assets/images/products/1.png' | theme }}" alt="">
                                        <img src="{{'assets/images/products/2.png' | theme }}" alt="">
                                        <div class="product__item-colors">
                                            <span data-bag-color="#FFF"></span>
                                            <span data-bag-color="#1A1A1A"></span>
                                            <span data-bag-color="#67677A"></span>
                                            <span data-bag-color="#9C894B"></span>
                                        </div>
                                    </a>
                                </div>                            
                                <a href="#"><h3>erica</h3></a>
                                <p>Термобілизна Frontier</p>
                            </div>
                            <div class="header__more-slide swiper-slide product__item">
                                <div class="product__item-top">
                                    <button class="product__item-add"></button>
                                    <a class="product__item-image" href="#">
                                        <img src="{{'assets/images/products/1.png' | theme }}" alt="">
                                        <img src="{{'assets/images/products/2.png' | theme }}" alt="">
                                        <div class="product__item-colors">
                                            <span data-bag-color="#FFF"></span>
                                            <span data-bag-color="#1A1A1A"></span>
                                            <span data-bag-color="#67677A"></span>
                                            <span data-bag-color="#9C894B"></span>
                                        </div>
                                    </a>
                                </div>                            
                                <a href="#"><h3>erica</h3></a>
                                <p>Термобілизна Frontier</p>
                            </div>
                            <div class="header__more-slide swiper-slide product__item">
                                <div class="product__item-top">
                                    <button class="product__item-add"></button>
                                    <a class="product__item-image" href="#">
                                        <img src="{{'assets/images/products/1.png' | theme }}" alt="">
                                        <img src="{{'assets/images/products/2.png' | theme }}" alt="">
                                        <div class="product__item-colors">
                                            <span data-bag-color="#FFF"></span>
                                            <span data-bag-color="#1A1A1A"></span>
                                            <span data-bag-color="#67677A"></span>
                                            <span data-bag-color="#9C894B"></span>
                                        </div>
                                    </a>
                                </div>                            
                                <a href="#"><h3>erica</h3></a>
                                <p>Термобілизна Frontier</p>
                            </div>
                            <div class="header__more-slide swiper-slide product__item">
                                <div class="product__item-top">
                                    <button class="product__item-add"></button>
                                    <a class="product__item-image" href="#">
                                        <img src="{{'assets/images/products/1.png' | theme }}" alt="">
                                        <img src="{{'assets/images/products/2.png' | theme }}" alt="">
                                        <div class="product__item-colors">
                                            <span data-bag-color="#FFF"></span>
                                            <span data-bag-color="#1A1A1A"></span>
                                            <span data-bag-color="#67677A"></span>
                                            <span data-bag-color="#9C894B"></span>
                                        </div>
                                    </a>
                                </div>                            
                                <a href="#"><h3>erica</h3></a>
                                <p>Термобілизна Frontier</p>
                            </div>
                            <div class="header__more-slide swiper-slide product__item">
                                <div class="product__item-top">
                                    <button class="product__item-add"></button>
                                    <a class="product__item-image" href="#">
                                        <img src="{{'assets/images/products/1.png' | theme }}" alt="">
                                        <img src="{{'assets/images/products/2.png' | theme }}" alt="">
                                        <div class="product__item-colors">
                                            <span data-bag-color="#FFF"></span>
                                            <span data-bag-color="#1A1A1A"></span>
                                            <span data-bag-color="#67677A"></span>
                                            <span data-bag-color="#9C894B"></span>
                                        </div>
                                    </a>
                                </div>                            
                                <a href="#"><h3>erica</h3></a>
                                <p>Термобілизна Frontier</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header__mobile">
            <div class="header__mobile-content">
                <div class="header__mobile-block">
                    <h3 class="header__mobile-name">Магазин</h3>
                    <ul class="header__mobile-menu">
                        <li>
                            <a class="active" href="#">Новинки</a>
                        </li>
                        <li>
                            <a href="#">Куртки | Сорочки</a>
                        </li>
                        <li>
                            <a href="#"> Фліс | Худі</a>
                        </li>
                        <li>
                            <a href="#">Лонги | Футболки</a>
                        </li>
                        <li>
                            <a href="#">Штани | Шорти</a>
                        </li>
                        <li>
                            <a href="#">Термобілизна</a>
                        </li>
                        <li>
                            <a href="#">Аксесуари</a>
                        </li>
                    </ul>
                </div>
                <div class="header__mobile-block">
                    <h3 class="header__mobile-name">Customer care</h3>
                    <ul class="header__mobile-menu">
                        <li>
                            <a href="#">Про нас</a>
                        </li>
                        <li>
                            <a href="#">Гарантія та повернення</a>
                        </li>
                        <li>
                            <a href="#">Оплата та доставка</a>
                        </li>
                        <li>
                            <a href="#">Контакти</a>
                        </li>
                        <li>
                            <a href="#">Публічна оферта</a>
                        </li>
                    </ul>
                </div>
                <div class="header__mobile-block">
                    <a class="header__mobile-name" href="#">Журнал</a>
                </div>
                <div class="header__more-links">
                    <a href="#" target="_blank">FB</a>
                    <a href="#" target="_blank">IG</a>
                    <a href="#" target="_blank">YT</a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="header__bg"></div>