<section class="item skeleton" data-step="2" id="item-2-skeleton">
    <div class="title"></div>
    <div class="content">
        {% for i in range(0, 6) %}
            <span></span>
        {% endfor %}
    </div>
</section>

<section class="item started hidden" data-step="2" id="item-2">
    <h2>Edit a CMS Template</h2>

    <p>To get started with editing CMS templates, open this page in the built-in Editor, uncomment the <code>{% verbatim %}{% partial %}{% endverbatim %}</code> tag around <strong>line 36</strong> and save. Then just refresh this page! You'll need to create an account in the Administration Area - this is where the real magic happens! From here, you can access the Editor and other powerful tools.</p>

    <a href="{{backendUrl}}/editor" target="_blank" class="cta">Open this Page in Editor</a>
</section>

<section class="item skeleton variant-2" data-step="3" id="item-3-skeleton">
    <div class="title"></div>
    <div class="content">
        {% for i in range(0, 6) %}
            <span></span>
        {% endfor %}
    </div>
</section>