<section class="item started" data-step="3" id="step-3">
    <h2>Enable the Full Demo Theme</h2>

    <p>Congratulations, you did it! Editing pages with October CMS is easy and we hope you found it to be a smooth and intuitive experience.</p>
    
    <p>If you're ready to take your skills to the next level, why not enable the full-featured demo theme? It showcases the full power of the templating engine, along with Tailor - our secret ingredient for creating truly customized websites. Just remember to refresh the page after activating the Demo theme!</p>

    <a href="{{backendUrl}}/cms/themes" target="_blank" class="cta">Activate the Full Demo Theme</a>
</section>