<section class="basket">
    <div class="container">
        <form class="basket__inner" action="#">
            <h3 class="basket__title">Кошик</h3>
            <p class="basket__number">2 товари</p>
            <div class="basket__content">
                <div class="basket__block">
                    <div class="basket__item">
                        <a class="basket__item-image" href="#">
                            <img src="{{'assets/images/basket/1.png' | theme }}" alt="">
                        </a>
                        <div class="basket__item-content">
                            <a class="basket__item-title" href="#">
                                <h3>KodKod Nyco Khaki</h3>
                            </a>
                            <div class="basket__item-color">
                                <span data-bag-color="#9C894B"></span>
                                <p>Olive GreenLarge</p>
                            </div>
                            <p class="basket__item-size">Size: M</p>
                            <p class="basket__item-price">8 997 UAH</p>
                            <div class="basket__item-bottom">
                                <div class="basket__item-count">
                                    <button class="basket__item-minus" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                                            <path d="M11.25 6.41602H0.75" stroke="#67677A" stroke-width="1.5" stroke-linecap="round"/>
                                        </svg>
                                    </button>
                                    <input value="1" type="number" min="1" max="99">
                                    <button class="basket__item-plus" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                                            <path d="M6.09131 1.25V6.4087M6.09131 6.4087V11.75M6.09131 6.4087H0.75M6.09131 6.4087H11.25" stroke="#1A1A1A" stroke-width="1.5" stroke-linecap="round"/>
                                        </svg>
                                    </button>
                                </div>
                                <button class="basket__item-delete" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                                        <path d="M0.742188 3.43687H2.46333M11.2422 3.43687H9.59681M7.95146 3.43687H4.18447M7.95146 3.43687V1.25024H4.18447V3.43687M7.95146 3.43687H9.59681M4.18447 3.43687H2.46333M2.46333 3.43687V11.7502H9.59681V3.43687M4.8123 5.53688V9.28222M7.08549 5.53688V9.28222" stroke="#67677A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="basket__item">
                        <a class="basket__item-image" href="#">
                            <img src="{{'assets/images/basket/2.png' | theme }}" alt="">
                        </a>
                        <div class="basket__item-content">
                            <a class="basket__item-title" href="#">
                                <h3>Borealis</h3>
                            </a>
                            <div class="basket__item-color">
                                <span data-bag-color="#9C894B" style="background-color: rgb(156, 137, 75);"></span>
                                <p>Olive GreenLarge</p>
                            </div>
                            <p class="basket__item-size">Size: M</p>
                            <p class="basket__item-price">8 997 UAH</p>
                            <div class="basket__item-bottom">
                                <div class="basket__item-count">
                                    <button class="basket__item-minus" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                                            <path d="M11.25 6.41602H0.75" stroke="#67677A" stroke-width="1.5" stroke-linecap="round"></path>
                                        </svg>
                                    </button>
                                    <input value="1" type="number" min="1" max="99">
                                    <button class="basket__item-plus" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                                            <path d="M6.09131 1.25V6.4087M6.09131 6.4087V11.75M6.09131 6.4087H0.75M6.09131 6.4087H11.25" stroke="#1A1A1A" stroke-width="1.5" stroke-linecap="round"></path>
                                        </svg>
                                    </button>
                                </div>
                                <button class="basket__item-delete" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                                        <path d="M0.742188 3.43662H2.46333M11.2422 3.43662H9.59681M7.95146 3.43662H4.18447M7.95146 3.43662V1.25H4.18447V3.43662M7.95146 3.43662H9.59681M4.18447 3.43662H2.46333M2.46333 3.43662V11.75H9.59681V3.43662M4.8123 5.53663V9.28197M7.08549 5.53663V9.28197" stroke="#67677A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="basket__total">Загальна сума: 12 445 UAH</p>
            </div>

            <div class="basket__bottom">
                <button class="basket__order btn-2" type="submit">оформити</button>
                <button class="basket__btn-login btn popupUser-login-open" type="button">увійти</button>
                <button class="basket__btn-register btn popupUser-register-open" type="button">зареєструватись</button>
            </div>

        </form>
    </div>
</section>