<section class="infoBlock">
    <div class="infoBlock__inner">
        <a class="infoBlock__block" href="#">
            <h3 class="infoBlock__name">KodKod Nyco</h3>
            <p class="infoBlock__descr">Міцний матеріал NyCo, який швидко висихає та не підтримує горіння</p>
            <div class="infoBlock__image">
                <img src="{{'assets/images/infoBlock/1.png' | theme }}" alt="">
            </div>
        </a>
        <a class="infoBlock__block" href="#">
            <h3 class="infoBlock__name">Helarctos</h3>
            <p class="infoBlock__descr">Модель Helarctos розроблена, в першу чергу, для військовослужбовців, співробітників силових структур, охоронних агентств. </p>
            <div class="infoBlock__image">
                <img src="{{'assets/images/infoBlock/2.png' | theme }}" alt="">
            </div>
        </a>
    </div>
</section>