<section class="popupUser popupUser-register">
    <div class="container">
        <div class="popupUser__inner">
            <div class="popupUser__content">
                <h3 class="popupUser__title">зареєструватись</h3>
                <form class="popupUser__form popupUser__form-register" action="#">
                    <div class="popupUser__form-box">
                        <div class="popupUser__form-block">
                            <input class="popupUser__form-input" type="email" name="email" placeholder=" ">
                            <label class="popupUser__form-label" for="email">Email<span>*</span></label>
                        </div>
                        <div class="popupUser__form-block">
                            <input class="popupUser__form-input" type="password" name="password" placeholder=" ">
                            <label class="popupUser__form-label" for="email">пароль<span>*</span></label>
                        </div>
                    </div>
                    <p class="popupUser__form-error">Будь ласка, введи свою адресу електронної пошти*</p>
                    <p class="popupUser__form-error">Будь ласка, введи свій пароль*</p>
                    <div class="popupUser__form-agree">
                        <label class="popupUser__form-checkbox">
                            <input type="checkbox" name="agreed">
                            <span></span>
                        </label>
                        <p>Натискаючи кнопку «УВІЙТИ», я даю свою згоду на обробку моїх персональних даних відповідно до <a href="#">Політики конфіденційності</a></p>
                    </div>
                    <button class="popupUser__form-btn btn-2" type="submit">оформити</button>
                    <p class="popupUser__form-agreed">Ви повинні погодитися з положеннями та умовами, перш ніж продовжити.</p>
                </form>
            </div>
            <p class="popupUser__descr">Маєте акаунт? <button class="popupUser-login-open">Увійти</button></p>
        </div>
    </div>
</section>


<section class="popupUser popupUser-login">
    <div class="container">
        <div class="popupUser__inner">
            <div class="popupUser__content">
                <h3 class="popupUser__title">Вхід</h3>
                <form class="popupUser__form popupUser__form-login" action="#">
                    <div class="popupUser__form-box">
                        <div class="popupUser__form-block">
                            <input class="popupUser__form-input" type="email" name="email" placeholder=" ">
                            <label class="popupUser__form-label" for="email">Email<span>*</span></label>
                        </div>
                    </div>
                    <button class="popupUser__form-btn btn-2" type="submit">увійти</button>
                </form>
            </div>
            <p class="popupUser__descr">Не зареєстровані? <button class="popupUser-register-open">Створити акаунт</button></p>
        </div>
    </div>
</section>