<section class="products">
    <div class="container">
        <div class="products__inner">
            <div class="products__block">
                <div class="product__item">
                    <div class="product__item-top">
                        <button class="product__item-add"></button>
                        <a class="product__item-image" href="#">
                            <img src="{{ 'assets/images/products/1.png' | theme }}" alt="">
                            <img src="{{ 'assets/images/products/2.png' | theme }}" alt="">
                            <div class="product__item-colors">
                                <span data-bag-color="#FFF"></span>
                                <span data-bag-color="#1A1A1A"></span>
                                <span data-bag-color="#67677A"></span>
                                <span data-bag-color="#9C894B"></span>
                            </div>
                        </a>
                    </div>                            
                    <a href="#"><h3>erica</h3></a>
                    <p>Термобілизна Frontier  </p>
                </div>
                <div class="product__item">
                    <div class="product__item-top">
                        <button class="product__item-add"></button>
                        <a class="product__item-image" href="#">
                            <img src="{{ 'assets/images/products/2.png' | theme }}" alt="">
                            <img src="{{ 'assets/images/products/1.png' | theme }}" alt="">
                            <div class="product__item-colors">
                                <span data-bag-color="#FFF"></span>
                                <span data-bag-color="#1A1A1A"></span>
                                <span data-bag-color="#67677A"></span>
                                <span data-bag-color="#9C894B"></span>
                            </div>
                        </a>
                    </div>                            
                    <a href="#"><h3>Larix</h3></a>
                    <p>Термобілизна Frontier  </p>
                </div>
                <div class="product__item">
                    <div class="product__item-top">
                        <button class="product__item-add"></button>
                        <a class="product__item-image" href="#">
                            <img src="{{'assets/images/products/3.png' | theme }}" alt="">
                            <img src="{{'assets/images/products/2.png' | theme }}" alt="">
                            <div class="product__item-colors">
                                <span data-bag-color="#FFF"></span>
                                <span data-bag-color="#1A1A1A"></span>
                                <span data-bag-color="#67677A"></span>
                                <span data-bag-color="#9C894B"></span>
                            </div>
                        </a>
                    </div>                            
                    <a href="#"><h3>KodKod Nyco</h3></a>
                    <p>Тактичні штани Frontier  </p>
                </div>
                <div class="product__item">
                    <div class="product__item-top">
                        <button class="product__item-add"></button>
                        <a class="product__item-image" href="#">
                            <img src="{{'assets/images/products/4.png' | theme }}" alt="">
                            <img src="{{'assets/images/products/2.png' | theme }}" alt="">
                            <div class="product__item-colors">
                                <span data-bag-color="#FFF"></span>
                                <span data-bag-color="#1A1A1A"></span>
                                <span data-bag-color="#67677A"></span>
                                <span data-bag-color="#9C894B"></span>
                            </div>
                        </a>
                    </div>                            
                    <a href="#"><h3>Borealis</h3></a>
                    <p>Термобілизна Frontier  </p>
                </div>
                <div class="product__item">
                    <div class="product__item-top">
                        <button class="product__item-add"></button>
                        <a class="product__item-image" href="#">
                            <img src="{{'assets/images/products/5.png' | theme }}" alt="">
                            <img src="{{'assets/images/products/2.png' | theme }}" alt="">
                            <div class="product__item-colors">
                                <span data-bag-color="#FFF"></span>
                                <span data-bag-color="#1A1A1A"></span>
                                <span data-bag-color="#67677A"></span>
                                <span data-bag-color="#9C894B"></span>
                            </div>
                        </a>
                    </div>                            
                    <a href="#"><h3>Frontier Helarctos </h3></a>
                    <p>Термобілизна Frontier  </p>
                </div>
                <div class="product__item">
                    <div class="product__item-top">
                        <button class="product__item-add"></button>
                        <a class="product__item-image" href="#">
                            <img src="{{'assets/images/products/6.png' | theme }}" alt="">
                            <img src="{{'assets/images/products/2.png' | theme }}" alt="">
                            <div class="product__item-colors">
                                <span data-bag-color="#FFF"></span>
                                <span data-bag-color="#1A1A1A"></span>
                                <span data-bag-color="#67677A"></span>
                                <span data-bag-color="#9C894B"></span>
                            </div>
                        </a>
                    </div>                            
                    <a href="#"><h3>taxus</h3></a>
                    <p>Термобілизна Frontier  </p>
                </div>
            </div>
        </div>
    </div>
</section>