       <div class="aboutSection">
            <div class="container">
                <div class="aboutSection__inner">
                    <div class="aboutSection__box">
                        <div class="aboutSection__images-content">
                            <div class="aboutSection__images">
                                <div class="swiper-wrapper">
                                    <div class="aboutSection__image swiper-slide">
                                        <img src="{{'assets/images/aboutSection/1.png' | theme }}" alt="">
                                    </div>
                                    <div class="aboutSection__image swiper-slide">
                                        <img src="{{'assets/images/aboutSection/2.png' | theme }}" alt="">
                                    </div>
                                    <div class="aboutSection__image swiper-slide">
                                        <img src="{{'assets/images/aboutSection/3.png' | theme }}" alt="">
                                    </div>
                                </div>
                            </div>
                            <span class="aboutSection__images-pagination"></span>
                        </div>
                        
                        <div class="aboutSection__block">
                            <p>Одяг Frontier посилює, а не сковує. Це інструмент, який працює на ваш комфорт на шляху до нових цілей. У повсякденному житті чи в екстремальних умовах.</p>
                            <p>Кожна річ — результат дослідження, експериментів, вдосконалення та тестування. </p>
                            <p>Frontier не просто про гарну картинку, а про функціонал і реальну витривалість в умовах гірських сходжень, риболовлі та активних тренувань на полігоні.</p>
                        </div>
                    </div>
                    <div class="aboutSection__box aboutSection-reverse">
                        <div class="aboutSection__images-content">
                            <div class="aboutSection__images">
                                <div class="swiper-wrapper">
                                    <div class="aboutSection__image swiper-slide">
                                        <img src="{{'assets/images/aboutSection/4.png' | theme }}" alt="">
                                    </div>
                                    <div class="aboutSection__image swiper-slide">
                                        <img src="{{'assets/images/aboutSection/5.png' | theme }}" alt="">
                                    </div>
                                    <div class="aboutSection__image swiper-slide">
                                        <img src="{{'assets/images/aboutSection/6.png' | theme }}" alt="">
                                    </div>
                                    <div class="aboutSection__image swiper-slide">
                                        <img src="{{'assets/images/aboutSection/7.png' | theme }}" alt="">
                                    </div>
                                </div>
                            </div>
                            <span class="aboutSection__images-pagination"></span>
                        </div>
                        <div class="aboutSection__block">
                            <p>Для нас важливий зміст. Тому ми фокусуємось на якості та функціональності речей.</p>
                            <p>Анатомічний крій не сковує рухи. Технологічні тканини стійкі до стирання, загоряння, намокання та вигорання. Надійна фурнітура, продумані кишені та каптури надають додатковий комфорт. </p>
                            <p>Ми прагнемо відповідати нашій аудиторії: outdoor-ентузіастам, міським активістам, мандрівникам, волонтерам, митцям, військовим. </p>
                            <p>Ми створюємо одяг, який готовий до викликів.</p>
                        </div>
                    </div>                    
                </div>
            </div>
       </div>