{% for obImage in obOffer.images %}
    <div class="carousel-item product-detailed__carousel-item {% if loop.first %} active {% endif %} h-100">
        <img class="d-block w-100 h-100 product-detailed__carousel-item-img"
             src="{{ obImage.path }}"
             alt="{{ obImage.description }}"
             title="{{ obImage.title }}"
             loading="lazy">
    </div>
{% else %}
    <div class="carousel-item active">
        <img class="d-block w-100 h-100 product-detailed__carousel-item-img"
             src="{{ 'assets/images/no-image.png'|theme }}">
    </div>
{% endfor %}